extends layout

block content
  header Courses Inventory 
  main.mcontainer
    form(action="" method='POST') 
        h1= title 
        .form-container 
            .name 
                label(for="name") Name:
                input(type="text" id='name' name='name' required='true' placeholder='category name ' value=(category === undefined?'':category.name)) 
            .category-description 
                label(for="category-description") Description: 
                textarea(name="description" rows= '4'  id='category-description'  required='true'  value=(category?category.description:''))!= category?category.description:''
        if errors 
            ul.errors 
                each error in errors  
                    li!= error.msg 
        button(type=submit) Submit   
      
